:root {
  --docs-primary-light: #C71585;
  --docs-primary-dark: #F75394;
  --docs-dark: #0F1010;

  --docs-note-text: var(--docs-black) !important;
  --docs-note-bg: #F6D8E7 !important;
  --docs-code-bg: #F0D1E1;
  --docs-pre-bg: #17051B;
}

:root[data-theme="dark"] {
  --docs-code-bg: #401D29;
  --docs-pre-bg: #0A070F;
  --docs-note-text: var(--docs-white) !important;
  --docs-note-bg: var(--docs-pre-bg) !important;
}

@media (prefers-color-scheme: dark) {
  :root:not([data-theme]) {
    --docs-code-bg: #401D29;
    --docs-pre-bg: #0A070F;
    --docs-note-text: var(--docs-white) !important;
    --docs-note-bg: var(--docs-pre-bg) !important;
  }
}

.supporters a {
  display: inline-block;
  margin: 1.5rem 1.5rem 1.5rem 0;
  text-align: center;
}

.supporters img {
  display: block;
  width: 75px;
  height: 75px;
  margin-bottom: .5rem;
}